:host{
    width: 100%;
}
register-section{
    width: 100%;
}
.form-row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-field{
  display: flex;
  flex-direction: column;
}
.form-field label{
    margin-bottom:6px;
    font-weight: 500;
}

.form-field input{
    padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}
.form-field input:focus{
    border-color: var(--olive-dark);
}
.form-actions{
    margin-top: 1rem;
}

button[type="submit"]{
    background-color: var(--olive-dark);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover{
    background-color: var(--olive-dark);
}

button[type="submit"]:disabled{
    background-color: #a5ad9c;
  cursor: not-allowed;
}
